{% if paginator.hasPages() %}
    <ul class="list-reset rounded bg-white border border-grey-light inline-block">
        {% if paginator.onFirstPage() %}
            <li class="inline-block disabled" aria-disabled="true" aria-label="{{ trans('pagination.previous') }}">
                <span class="block px-3 py-2 min-w-5 font-semibold text-grey-dark" aria-hidden="true">&lsaquo;</span>
            </li>
        {% else %}
            <li class="inline-block">
                <a class="block font-semibold text-primary no-underline lg:hover:underline hover:text-primary-dark px-3 py-2 min-w-5" href="{{ paginator.previousPageUrl() }}" rel="prev" aria-label="{{ trans('pagination.previous') }}">&lsaquo;</a>
            </li>
        {% endif %}

        {% for element in elements %}
            {% if element is iterable  %}
                {% for page, url in element %}
                    {% if page == paginator.currentPage() %}
                        <li class="inline-block active" aria-current="page"><span class="block px-3 py-2 min-w-5 font-semibold text-primary text-primary">{{ page }}</span></li>
                    {% else %}
                        <li class="inline-block"><a class="block font-semibold text-primary no-underline lg:hover:underline hover:text-primary-dark px-3 py-2 min-w-5" href="{{ url }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li class="inline-block disabled" aria-disabled="true"><span class="block px-3 py-2 min-w-5 font-semibold text-grey-dark">{{ element }}</span></li>
            {% endif %}
        {% endfor %}

        {% if paginator.hasMorePages() %}
            <li class="inline-block">
                <a class="block font-semibold text-primary no-underline lg:hover:underline hover:text-primary-dark px-3 py-2 min-w-5" href="{{ paginator.nextPageUrl() }}" rel="next" aria-label="{{ trans('pagination.next') }}">&rsaquo;</a>
            </li>
        {% else %}
            <li class="inline-block disabled" aria-disabled="true" aria-label="{{ trans('pagination.next') }}">
                <span class="block px-3 py-2 min-w-5 font-semibold text-grey-dark" aria-hidden="true">&rsaquo;</span>
            </li>
        {% endif %}
    </ul>
{% endif %}
